#include<stdio.h>
int main()
 {
 int num;
 scanf("%d",&num);
 if(num<0);
 printf("Enter number is negative");
 if(num>0);
 printf("Enter number is positive");
 else
 printf(Enter value is zero");
 return 0;
 }
